.graphd3-graph {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: move;
}

.node {
    &.node-highlighted {
        .ring {
            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
            filter: alpha(opacity=50);
            opacity: .5;
            stroke: #888;
            stroke-width: 12px;
        }
    }

    .outline {
        cursor: pointer;
        fill: rgb(165, 171, 182);
        pointer-events: all;
        stroke: rgb(154, 161, 172);
        stroke-width: 2px;
    }

    .ring {
        fill: none;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        opacity: 0;
        stroke: #6ac6ff;
        stroke-width: 8px;
    }

    .text {
        &.icon {
            font-family: FontAwesome;
        }
    }
}

.node.selected .ring,
.node:hover .ring {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}

.link {
    cursor: pointer;

    line {
        stroke: #aaa;
    }

    .outline {
        /*cursor: default;*/
        stroke-width: 2px;
    }

    .overlay {
        /*cursor: default;*/
        fill: #6ac6ff;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        opacity: 0;
    }

/*    text {
        cursor: default;
    }*/
}

.link.selected .overlay,
.link:hover .overlay {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}
