/** {
    margin: 0px;
    padding: 0px;
}*/

html, body, container, .graphd3 {
    height: 100%;
    overflow: hidden;
}

body {
    font: 13px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    font-size: 15px;
    background-color: #f5f5f5;
}

.modal-header {
    display: block; //fix "Save File" prompt header alignment
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 5px;
    padding-left: 5px;
}

.graphd3-graph {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.graphd3-info {
    font-size: 16px;
    padding: 10px;
    position: absolute;

    a, span {
        border: 1px solid;
        display: inline-block;
        font-size: 14px;
        line-height: 1.428571429;
        margin-left: 5px;
        margin-top: 5px;
        padding: 6px 12px;

        &.class {
            color: white;
        }

        &.property {
            background-color: #fff;
            border-color: #ccc;
            color: #333;
        }
    }

    a.btn {
        margin-left: 5px;
        margin-top: 5px;
        opacity: 1;
    }

    a.info {
        background-color: rgb(165, 171, 182);
        border: 1px solid rgb(154, 161, 172);
        color: white;
    }
}

.node {
    &.node-highlighted {
        .ring {
            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
            filter: alpha(opacity=50);
            opacity: .5;
            stroke: #888;
            stroke-width: 12px;
        }
    }

    .outline {
        cursor: pointer;
        fill: rgb(165, 171, 182);
        pointer-events: all;
        stroke: rgb(154, 161, 172);
        stroke-width: 2px;
    }

    .ring {
        fill: none;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        opacity: 0;
        stroke: #6ac6ff;
        stroke-width: 8px;
    }

    .text {
        &.icon {
            font-family: FontAwesome;
        }
    }
}

.node.selected .ring,
.node:hover .ring {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}

.link {
    cursor: default;

    line {
        stroke: #aaa;
    }

    .outline {
        cursor: default;
        stroke-width: 2px;
    }

    .overlay {
        cursor: default;
        fill: #6ac6ff;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        opacity: 0;
    }

    text {
        cursor: default;
    }
}

.link.selected .overlay,
.link:hover .overlay {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}

svg {
    cursor: move;
}

.page-alerts {
    position:absolute;
    top:60px;
}